body {
  margin: 0;
  background-color: lightgrey;
}

.content{
  background-color: lightpink;
  height: 1000px;
  width: 100%;
  margin-left: 100px;
}

.headshot {
  height: 200px;
  border-radius: 50px;
}

.sidebar {
  background-color: rgb(98, 98, 255);
  width: 100px;
  height: 500px;
  font-family: Arial;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.nav-button {
  display: block;
}