.about {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  row-gap: 10px;
}

.about-title-underline {
  margin: 20px 0px;
}

.about-text {
  margin-right: 10px;
}

@media (max-width: 900px) {
  .about {
      grid-template-columns: 1fr;
  }
  .about-text {
    margin-right: 0px;
  }
}

.about-description {
  font-weight: 100;
  font-size: 20px;
  line-height: 1.6;
}

.about-headshot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  /*width: 300px;*/
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  border-radius: 1000px;
}