header {
  margin-top: 100px;
  font-weight: 300;
}

.name {
  text-align: center;
  font-size: 60px;
  animation: fadeIn 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@media (max-width: 500px) {
  header {
    margin-top: 50px;
  }
  
  .name {
    font-size: 50px;
  }
}

.subtitle {
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  animation: fadeIn 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}