nav {
  background-color: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  border-radius: 18px;
  position: sticky;
  top: 0px;
  z-index: 100;
  transition: 
    border-radius 0.5s, 
    transform 0.5s;
}

.stuck {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  transform: translateY(-5px);
}

.nav-button {
  color: black;
  height: 40px;
  border: none;
  border-radius: 10px;
  width: 100px;
  font-size: 17px;
  font-family: Roboto, Arial;
  font-weight: 100;
  background-color: inherit;
  cursor: pointer;
  transition: background-color .2s;
}

.nav-button:hover {
  background-color: white;
}

.nav-button:active {
  background-color: rgb(246, 246, 246);
}

@media (max-width: 500px) {
  nav {
    justify-content: space-between;
    min-width: 0px;
  }
  
}