.projects {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}

.projects-title {
  margin-bottom: 10px;
  
}

.project-img {
  height: 150px;
  margin: 15px 0px;
  border-radius: 10px;
}

.project-block {
  text-align: center;
}

.project-name {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
}

.project-description {
  margin-bottom: 20px;
}

.first-project {
  margin-top: 0px;
}


