body {
  background-color: rgb(148, 205, 250);
  margin: 0px;
  font-family: Roboto, Arial;
  color: black;
}

main {
  margin: 100px 100px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 20px;
}

.section-title {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 300;
}

.section {
  margin: 40px;
  padding: .1px;
  background-color: lightgrey;
}

.about {
  display: flex;
  flex-direction: row;
}

.about-text {
  flex: 1;
  margin-right: 10px;
}

.about-title {
  margin-bottom: 20px;
}

.about-description {
  font-weight: 100;
  font-size: 15px;
}

.about-headshot {
  flex: 1;
}

.headshot {
  width: 300px;

}

.skills {
  height: 500px;
}

.projects {
  height: 500px;
}

.contact {
  height: 500px;
}


